{% extends 'base.html' %}
{% import 'macros.html' as macro%}

{% block navbar %}
    {% include 'navbar.html'%}
{% endblock %}

{% block styles %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Show us What you've got,pitch!</h1>
    <div class="row">

        <div class="col-md-6"><h3> Product pitches</h3></div>
        <div class="col-md-6"><h3>Pick up lines</h3></div>

    </div>
</div>
{% endblock %}